[Unit]
Description=Homelab backup job
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
EnvironmentFile=/etc/homelab/restic.env
ExecStart=/usr/local/bin/backup
TimeoutStartSec=2h
Nice=10
User=root
