name: SSH to Server

on:
  push:
    branches:
      - main

jobs:
  deploy:
    name: SSH to Remote Server
    runs-on: ubuntu-latest

    steps:
      - name: SSH to Server
        uses: appleboy/ssh-action@v1.21
        with:
          host: ${{vars.SERVER_HOST}}
          username: ${{vars.SERVER_USER}}
          key: ${{secrets.SSH_PRIVATE_KEY}}
          port: ${{vars.SERVER_PORT}}
          script: |
            whoami
            hostname
            ff

            echo "SSH connection successful!"
